services:
  - type: web
    name: theashway
    env: node
    region: ohio
    buildCommand: npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
      - key: DEVELOPER_EMAIL
        sync: false
